*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.png
wandb/
*.mp4
checkpoints/*
stage1.txt
__pycache__/
.DS_Store
*.log
*.pth
*.ckpt
*.npy
*.npz